[package]
name = "win_hv"
description = "Barevisor as a Windows driver"
edition = "2024"

[lib]
crate-type = ["cdylib"]
test = false
bench = false

[profile.dev]
debug = true

[dependencies]
hxposed_core = {path = "../../hxposed_core", default-features = false}
hv = { path = "../../hvcore" }
wdk = "0.3.1"
wdk-sys = "0.4.0"
wdk-alloc = "0.3.1"
bit_field = "0.10.3"
uuid = { version = "1.18.1", features = ["v4"] }
sha2 = "0.10.9"

[build-dependencies]
wdk-build = "0.4.0"

[package.metadata.wdk.driver-model]
driver-type = "KMDF"
kmdf-version-major = 1
target-kmdf-version-minor = 31
