[workspace]
members = ["check_hv_vendor", "win_hv"]
resolver = "2"

[workspace.package]
version = "0.1.0"
edition = "2024"
rust-version = "1.90"
publish = false

[profile.dev]
panic = "abort"

[profile.release]
panic = "abort"
